.banner-productHot{
    margin-top: 30px;
    margin-left: 50px;
    height: 100%;
    .tab_1{
      display: flex;
      margin-left: 150px;
    }
  }
  .banner-productTrademark{
    margin-top: 30px;
    margin-left: 50px;
    height: 100%;
    .tab_1{
      display: flex;
      margin-left: 150px;
    }
  }
  .banner-productMakeUp {
    margin-top: 30px;
    margin-left: 50px;
    height: 80%;
    width: 100%;
    .makeUp{
      display: flex;
      margin-top: 50px;
      margin-left: 150px;
      width: 76%;
      border-radius: 7px;
      background: linear-gradient(
        (rgb(241, 203, 203) 30%, rgb(247, 245, 203) 100%)
      );
      h5 {
        margin-top: 10px;
      }
      ul, li,a {
        text-decoration: none;
        color: black;
        list-style-type: none;
        display: flex;
        margin-left: 50px;
        margin-top: 5px;
      }
    }
    .tab_1{
      display: flex;
      margin-left: 150px;
    }
  }
  .banner-productSKinCare {
    margin-top: 30px;
    margin-left: 50px;
    height: 70%;
    width: 100%;
    .skincare{
      display: flex;
      margin-top: 50px;
      margin-left: 150px;
      width: 76%;
      border-radius: 7px;
      background: linear-gradient(
        (rgb(241, 203, 203) 30%, rgb(247, 245, 203) 100%)
      );
      h5 {
        margin-top: 10px;
      }
      ul, li,a {
        text-decoration: none;
        color: black;
        list-style-type: none;
        display: flex;
        margin-left: 50px;
        margin-top: 5px;
      }
    }
    .tab_1{
      display: flex;
      margin-left: 150px;
    }
  }
  .banner-productBody {
    margin-top: 30px;
    margin-left: 50px;
    height: 70%;
    width: 100%;
    .body{
      display: flex;
      margin-top: 50px;
      margin-left: 150px;
      width: 76%;
      border-radius: 7px;
      background: linear-gradient(
        (rgb(241, 203, 203) 30%, rgb(247, 245, 203) 100%)
      );
      h5 {
        margin-top: 10px;
      }
      ul, li,a {
        text-decoration: none;
        color: black;
        list-style-type: none;
        display: flex;
        margin-left: 50px;
        margin-top: 5px;
      }
    }
    .tab_1{
      display: flex;
      margin-left: 150px;
    }
  }
  .banner-productHair {
    margin-top: 30px;
    margin-left: 50px;
    height: 70%;
    width: 100%;
    .hair{
      display: flex;
      margin-top: 50px;
      margin-left: 150px;
      width: 76%;
      border-radius: 7px;
      background: linear-gradient(
        (rgb(241, 203, 203) 30%, rgb(247, 245, 203) 100%)
      );
      h5 {
        margin-top: 10px;
      }
      ul, li,a {
        text-decoration: none;
        color: black;
        list-style-type: none;
        display: flex;
        margin-left: 50px;
        margin-top: 5px;
      }
    }
    .tab_1{
      display: flex;
      margin-left: 150px;
    }
  }
  .banner-productPerfume {
    margin-top: 30px;
    margin-left: 50px;
    height: 70%;
    width: 100%;
    .Perfume{
      display: flex;
      margin-top: 50px;
      margin-left: 150px;
      width: 76%;
      border-radius: 7px;
      background: linear-gradient(
        (rgb(241, 203, 203) 30%, rgb(247, 245, 203) 100%)
      );
      h5 {
        margin-top: 10px;
      }
      ul, li,a {
        text-decoration: none;
        color: black;
        list-style-type: none;
        display: flex;
        margin-left: 50px;
        margin-top: 5px;
      }
    }
    .tab_1{
      display: flex;
      margin-left: 150px;
    }
  }